configuration {
    modi:         "drun,run";
    show-icons:   true;
    display-drun: "";
    display-run:  "";
}

* {
    bg:       #17181a;
    fg:       #DBDBDB;
    blue:     #667899;
    gray:     #404040;
    red:      #B85335;

    background-color: transparent;
    text-color:       @fg;
}

window {
    background-color: @bg;
    border:           2px solid;
    border-color:     @blue;
    border-radius:    4px;
    width:            600px;
    padding:          8px;
}

mainbox {
    background-color: @bg;
    children:         [ inputbar, listview ];
}

inputbar {
    background-color: @bg;
    padding:          8px 12px;
    children:         [ prompt, entry ];
}

prompt {
    background-color: @bg;
    text-color:       @blue;
    padding:          0 8px 0 0;
}

entry {
    background-color: @bg;
    text-color:       @fg;
}

listview {
    background-color: @bg;
    padding:          4px 0;
    lines:            10;
}

element {
    background-color: @bg;
    text-color:       @fg;
    padding:          6px 12px;
    border-radius:    2px;
}

element selected {
    background-color: @blue;
    text-color:       @fg;
}

element-icon {
    background-color: transparent;
    size:             18px;
    padding:          0 8px 0 0;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
}
